<h1>Listing cash_receipts</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Concept</th>
    <th>Amount</th>
    <th>Account</th>
    <th>Posted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cash_receipts.each do |cash_receipt| %>
  <tr>
    <td><%= cash_receipt.date %></td>
    <td><%= cash_receipt.concept %></td>
    <td><%= cash_receipt.amount %></td>
    <td><%= cash_receipt.account.name %></td>
    <td><%= cash_receipt.posted %></td>
    <td><%= link_to 'Show', cash_receipt %></td>
    <td><%= link_to 'Edit', edit_cash_receipt_path(cash_receipt) %></td>
    <td><%= link_to 'Destroy', cash_receipt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cash receipt', new_cash_receipt_path %>
